
.noHay {
    text-align: center;
    color: white;
}
.carritop {
    margin-top: 100px;
    @extend %flex-center;
    @media screen and (min-width: 1280px) {
        .carritop2 {
            width: 20%;
        }
    }
    .carritop2 {
        width: 80%;
        figure {
            @extend %flex-center;
        }
        .info-productoc {
            padding: 15px 30px;
            line-height: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: white;
            .precio{
                font-size: 18px;
                font-weight: 900px;
            }
            button {
                border: none;
                background: none;
                background-color: white;
                padding: 10px 10px;
                cursor: pointer;
                font-size: medium;
            }
        }
    }
}

.subtotal {
    @media screen and (min-width: 1280px) {
        font-size: 60px;
    }
    @extend %text-decoration;
    color: white;
    text-align: center;
    font-size: 30px;
    
}

.gridcarrito {
    @media screen and (min-width: 1280px) {
        margin-top: 100px;
        ul {
            li{
                width: 40%;
            }
        }
    }
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        flex-direction: column;
        width: 50%;
        li {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}



#metodo {
    margin-top: 50px;
}

.gridopcion {
    @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: 50% 50%;
        li {
            display: flex;
            justify-content: center;
            color: white;
            div {
                margin-right: 10px;
            }
        }
    }
    @media screen and (max-width: 1280px) {
        display: wrap;
        flex-direction: wrap;
        flex-wrap: wrap;
        li {
            color: white;
        }
        
    } 
    
}
.postal {
    @media screen and (max-width: 1280px) {
        width: 80%;
    }
    width: 30%;
    margin-right: none;
}
.hacemos3 {
    @media screen and (min-width: 1280px) {
        color: white;
        display: flex;
        
    }
    @media screen and (max-width: 1280px) {
        color: white;
        display: flex;
        li {
            margin-right: 10px;
        }
        
    }
    
}
.divsito {
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items:center ;
        }
    }
    @media screen and (max-width: 1280px) {
        display: flex;
        ul {
            align-items:center ;
        }
    }
}

.gridcarrito2{
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        ul {
            li {
                margin-top: 10px;
                select {
                    margin-bottom: 110px;
                }
            }
        }
        .transferencia {
            justify-content: center;
            display: flex;
            text-align: center;
        }
    }
    @media screen and (max-width:1280px) {
        
        ul {
            width: 90%;
            li {
                width: 90%;
                margin-top: 15px;
                select {
                    margin-bottom: 50px;
                }
            }
        }
        .transferencia {
            width: 100%;
        }
    }
    
}
.archivo {
    width: 100%;
}
