.tituloc{
    text-align: center;
    color: white;
    font-size: 60px;
    @extend %text-decoration;
}
.titulo {
    @extend %text-decoration;
    margin-bottom: 60px;
    font-size: 75px;
    color: white;
}
.titulom {
    color: white;
    text-align: center;
    font-size: 60px;
    @extend %text-decoration;
}
.hacemos1 {
    @extend %text-decoration;
    color: white;
    margin-top: 100px;
    text-align: center;
}
.hacemos {
    color: white;
    margin-top: 20px;
}